<div class="container">
  <div class="row">
    <!-- flex-container -->
    <div class="col-md-12 flex-container">
      <!-- flex-item -->
      <div class="flex-item">
        <div class="flex-item-inner">
          <!-- card -->
          <a href="#">
            <div class="card-front bg-violet">
              <i class="fas fa-carrot fa-3x tile-icon icon-white"></i>
              <h4>Agriculture Distribution Analysis</h4>
              <p class="detail"> <span class="small">  Maximum Production: </span>  2740</p>
              <p class="detail1"> <span class="small"> Average Area: </span> 1529 km/sq</p>

            </div>
            <div class="card-back bg-violet">
              <p class="title">Agriculture Distribution Analysis</p>
              <p class="desc">The maximum production for the last demograph is approx 2740.</p>
              <p class="desc">The average area of harvest state wise is approx 1529 km/sq</p>

            </div>
          </a>
          <!-- /card -->
        </div>
      </div>
      <!-- /flex-item -->

      <!-- flex-item -->
      <div class="flex-item">
        <div class="flex-item-inner">
          <!-- card -->
          <a href="#">
            <div class="card-front bg-magenta">
              <i class="fas fa-utensils fa-3x tile-icon icon-white"></i>
              <h4>Restaurant Distribution Analysis</h4>
            <p class="detail"> <span class="small"> Maximum Restaurants: </span> Delhi</p>
            <p class="detail1"> <span class="small"> Average Income: </span> 4,00,000 INR, Monthly</p>
            </div>
            <div class="card-back bg-magenta">
              <p class="title">Restaurant Distribution Analysis</p>
              <p class="desc">The average income of a Restaurant was approximately 40Lacks.
              </p>
            
            </div>
          </a>
          <!-- /card -->
        </div>
      </div>
      <!-- /flex-item -->
    </div>
    <div class="col-md-12 flex-container">

      <!-- flex-item -->
      <div class="flex-item">
        <div class="flex-item-inner">
          <!-- card -->
          <a href="#">
            <div class="card-front bg-blue">
              <i class="fas fa-wine-bottle fa-3x tile-icon icon-white"></i>
              <h4>Milk Distribution Analysis</h4>
              <p class="detail"> <span class="small"> Maximum Sales(year): 2007</span> </p>
            </div>
            <div class="card-back bg-blue">
              <p class="title">Milk Distribution Analysis</p>
              <p class="desc">The maximum sales occurred in the year 2007.</p>
            </div>
          </a>
          <!-- /card -->
        </div>
      </div>
      <!-- /flex-item -->

      <!-- flex-item -->
      <div class="flex-item">
        <div class="flex-item-inner">
          <!-- card -->
          <a href="#">
            <div class="card-front bg-green">
              <i class="fas fa-tablets fa-3x tile-icon icon-white"></i>
              <h4>Pharmaceutical Distribution Analysis</h4>
              <p class="detail"> <span class="small"> Maximum Sales(year): </span> 2012</p>
              <p class="detail1"> <span class="small"> Place with least medicial support: </span> Oddisha</p>
            </div>
            <div class="card-back bg-green">
              <p class="title">Pharmaceutical Distribution Analysis</p>
              <p class="desc">The maximum profit was procured in the year 2012.
              </p>
            </div>
          </a>
          <!-- /card -->
        </div>
      </div>
      <!-- flex-item -->
    </div>
    <!-- /flex-container -->
  </div>
</div>