/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~bootstrap/dist/css/bootstrap.css";



.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}