<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
              <i class="fas fa-home feather"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/agriculture" routerLinkActive="active">
              <i class="fas fa-file feather"></i>
              Agriculture Distribution
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/restaurant" routerLinkActive="active">
              <i class="fas fa-shopping-cart feather"></i>
              Restaurant Distribution
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/milk" routerLinkActive="active">
              <i class="fas fa-home feather"></i>
              Milk Distribution
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-home feather"></i>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-chart-bar feather"></i>
              Integrations
            </a>
          </li>
        </ul>
        <router-outlet></router-outlet>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Generate reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <i class="fas fa-plus-circle feather"></i>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link map" (click)="goToUrl('http://127.0.0.1:5000/map')">
              Plot Map
            </a>
          </li>
        </ul>
      </div>
    </nav>